#root {
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    /* padding: 2rem; */
    text-align: center;
}

.homepage {
    background-image: url(src/assets/backgroundpic.jpeg);
    width: 100%;
    height: 110vh;
}